/*
rf
*/

body {
  font-family: sans-serif;
  background-color: rgb(232, 246, 255);
  background-image: url("heart.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 50% 10%;
}

.hilussssssm
{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

h1 {
    text-align: center;
    color: rgb(49, 140, 231);
    font-family: sans-serif;
    font-size: 25pt;
}

p {
  color: rgb(0, 0, 95);
  text-align: center;
}

small {
  color: rgb(200, 220, 235);
  font-size: 7pt;
}
