/*
ml


Is this too hand-holdey right now? IDK. Whatever.

Point is, I love you. I know we've been over this like a thousand times before,
and I wrote that long embarrassing thing about how lovely you are and how comfy and safe I feel around you
and how magical you make everything and how excellent your taste in everything is and how pretty you are and

seriously do you even appreciate how lovely you are?

You're Hanna.

https://u.pomf.is/owsweh.zip

The Atlantic was born...
*/

body {
  font-family: sans-serif;
  background-color: rgb(255, 233, 255);
  background-image: url("heart.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 50% 10%;
}

.hilussssssm
{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

h1 {
    text-align: center;
    color: rgb(128, 0, 128);
    font-family: sans-serif;
    font-size: 25pt;
}

p {
  color: rgb(70, 0, 70);
  text-align: center;
}

small {
  color: 	rgb(216, 191, 216);
  font-size: 7pt;
}
